.bg-color-black {
  background-color: var(--color-black);
}
.bg-color-pink {
  background-color: var(--color-pink);
}
.bg-color-yellow {
  background-color: var(--color-yellow);
}
.bg-color-white {
  background-color: var(--color-white);
}
.bg-color-orange {
  background-color: var(--color-orange);
}
.color-white {
   color: var(--color-white);
 }
.color-dark-green {
   color: var(--color-dark-green);
 }
.color-black {
  color: var(--color-black);
}
.color-yellow {
  color: var(--color-yellow);
}