.fs-100px {
  font-size: 100px;
}
.fs-21px {
  font-size: 21px;
}
.fs-24px {
  font-size: 24px;
}
.fs-12px {
  font-size: 12px;
}
.fs-28px {
  font-size: 28px;
}
.fs-30px {
  font-size: 30px;
}
.fs-19px {
  font-size: 21px;
}
.fs-12px {
  font-size: 12px;
}
.fs-13px {
  font-size: 13px;
}
.fs-16px {
  font-size: 16px;
}
.fs-48px {
  font-size: 48px;
}
.fw-700 {
  font-weight: 700;
}
.fw-400 {
  font-weight: 400;
}