html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}
a {
  color: inherit;
  text-decoration: none;
}
div {
  font-family: "Bellota text";
}
span {
  text-align: initial;
}
button {
  border: none;
  outline: none;
  color: white;
  border-radius: 32px;
  padding: 13px 20px 13px 20px;
  cursor: pointer;
}
:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-pink: #E22697;
  --color-yellow: #FFF6D0;
  --color-orange: #F7931E;
  --color-orange-2: #FEE69F;
  --color-dark-green: #666724;
  --color-dark-green-2: #6F711F;
}