.b-r {
  border-radius: 35px;
}
.text-initial {
  text-align: initial;
}
.link-card {
  box-shadow: 0px 6px 16px #6F711F;
  border-radius: 23px;
}
.line-h-19 {
  line-height: 19px;
}
.ta-left {
  text-align: left;
}
.h-100 {
  height: 100%;
}
.p-r-8 {
  padding-right: 8px;
}
.m-r-12 {
  margin-right: 12px;
}
.m-l-6 {
  margin-left: 6px;
}
.p-r-16 {
  padding-right: 16px;
}
.p-t-26 {
  padding-top: 26px;
}
.p-l-32 {
  padding-left: 32px;
}
.p-l-22 {
  padding-left: 22px;
}
.p-t-22 {
  padding-top: 22px;
}
.p-t-20 {
  padding-top: 20px;
}
.p-t-10 {
  padding-top: 10px;
}
.p-t-28 {
  padding-top: 28px;
}
.p-r-32 {
  padding-right: 32px;
}
.p-b-16 {
  padding-bottom: 16px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.p-t-16 {
  padding-top: 16px;
}
.p-t-4 {
  padding-top: 4px;
}
.p-t-19 {
  padding-top: 19px;
}
.p-t-12 {
  padding-top: 12px;
}
.m-t-41 {
  margin-top: 41px;
}
.m-t-12 {
  margin-top: 12px;
}
.p-t-40 {
  padding-top: 41px;
}
.p-t-46 {
  padding-top: 46px;
}
.display-flex {
  display: flex;
}
.justify-end {
  justify-content: end;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}
.align-baseline {
  align-items: baseline;
}
.ta-start {
  text-align: start;
}
.fd-column {
  flex-direction: column;
}
.cursor {
  cursor: pointer;
}
.rotate-180 {
  transform: rotate(180deg);
}
.p-absolute {
  position: absolute;
}