.top-r-radius {
  border-radius: 0px 381px 0px 0px
}
.top-l-radius {
  border-radius: 381px 0px 0px 0px
}
.link-card {
  box-shadow: 0px 6px 16px #6F711F;
  border-radius: 23px;
}
.line-h-19 {
  line-height: 19px;
}
.ta-left {
  text-align: left;
}
.h-100 {
  height: 100%;
}
.p-r-8 {
  padding-right: 8px;
}
.p-t-26 {
  padding-top: 26px;
}
.p-l-32 {
  padding-left: 32px;
}
.p-l-22 {
  padding-left: 22px;
}
.p-t-22 {
  padding-top: 22px;
}
.p-r-32 {
  padding-right: 32px;
}
.p-b-16 {
  padding-bottom: 16px;
}
.p-t-16 {
  padding-top: 16px;
}
.p-t-19 {
  padding-top: 19px;
}
.p-t-12 {
  padding-top: 12px;
}
.m-t-41 {
  margin-top: 41px;
}
.p-t-46 {
  padding-top: 46px;
}
.display-flex {
  display: flex;
}
.justify-end {
  justify-content: end;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}
.fd-column {
  flex-direction: column;
}